* {
    margin: 0;
    padding: 0;
}

#heading {
    background: rgba(0, 0, 0, 0.7);
}

body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/92bb3a0b-7e91-40a0-b27b-f2c3ac9ef6e4/b21e3ad9-aa05-4122-b6a8-977eb91d5657/BR-pt-20210322-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;
    background-position: top center;
}

#heading div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#heading .h1 {
    padding: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
}

#heading a {
    color: red;

    text-decoration: none;
    font-family: sans-serif;
}